<!DOCTYPE html>
<html lang="en">

<head>
  <%- include("./partials/head") %>
  <title>Add New Blog</title>
</head>

<body>
  <%- include("./partials/nav") %>
  <div className="container mb-3 mt-3 ml-4">
    <form action="/blog" method="post" enctype="multipart/form-data">
            <label for="coverImage" class="form-label font-bold">Cover Image</label>
            <input class="form-control" type="file" name="coverImage">
            <label for="title" className="font-bold">Title</label>
            <input type="text" class="form-control" id="floatingInput" name="title" placeholder="Title">
            <label for="body">Body</label>
          <textarea class="form-control" placeholder="Tell us about your blog" id="floatingTextarea2" name="body" style="width:1000px"></textarea>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</body>

</html>